@model Cascading_Mvc.Models.City

<option value="">Select City</option>

@if (ViewBag.Citylist != null)
{
    foreach (var item in ViewBag.Citylist)
    {
        <option value="@item.Value">@item.Text</option>
    }
}