
@{
    ViewBag.Title = "Forgot Password";
}

@using (Html.BeginForm())
{

    <div class="text-success">
        @ViewBag.Message
    </div>

    <h1>Forgot Password ?</h1>
    <br>
    <v>When you fill in your registered email address, you will be sent instructions on how to reset your password.</v>
    <form class="cf">
        <div class="half left cf ani">
            @Html.TextBox("EmailID", "", new { @class = "input-email" })
        </div>
        <div class="">
            <input type="submit" value="Submit" id="input-submit">
        </div>
    </form>

}

